<div class="blog-post col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 project-card" data-aos="zoom-in">
  <article>
    <div class="post-img">
      <img id="project-image" src="" alt="" class="">
    </div>
    <div class="post-text">
      <div class="d-flex flex-row justify-content-between">
        <p id="project-type" class="post-category"></p>
        <p class="post-date">
          <time id="project-date" datetime=""></time>
        </p>
      </div>
      <h2 class="title">
        <a id="project-link" href=""></a>
      </h2>
      <div class="container">
        <div id="project-authors" class="post-meta row">
          <div class="author-template col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="display:none;">
            <div class="d-flex flex-row align-content-center author-card">
              <img class="author-img img-fluid post-author-img flex-shrink-0" src="" alt="">
              <div class="d-flex flex-column justify-content-center align-content-center">
                <p class="post-author">
                  <a class="author-link" href="" target="_blank"></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>